<!DOCTYPE>
<html>

<head>

</head>

<body>
	 <%= form_for @restaurant do |f| %>
	 <%= f.label :name, 'Name:' %>
	 <%= f.text_field :name, placeholder: 'Restaurant name' %>
	 <p></p>
	 <%= f.label :description, 'Description:' %>
	 <%= f.text_field :description, placeholder: 'Restaurant description' %>
	  <p></p>
	  <%= f.submit "Create Restaurant" %>
	 <% end %>

	 <% if flash[:error] -%>
		 <%= flash[:error] %>
	 <% end -%>
</body>

</html>

