<!DOCTYPE>
<html>

<head>
</head>

<body>
    <h1><%= @restaurant.name %></h1>
    <h3><%= @restaurant.description %></h>
    <p></p>

    <%= form_for([@restaurant, @review]) do |f| %>
      <%= f.hidden_field :restaurant_id %>
      <%= f.label :review %>
      <div id="comment">
      <%= f.text_area :comment, placeholder: 'Please add your review here' , size: "40x8" %>
    </div>
     <p></p>

     <%= f.label :rating %><br>
     <%= f.radio_button(:rating, 1) %> Inedible
     <%= f.radio_button(:rating, 2) %> Poor
     <%= f.radio_button(:rating, 3) %> Average
     <%= f.radio_button(:rating, 4) %> Good
     <%= f.radio_button(:rating, 5) %> Delicious
     <%= f.submit "Save your Review"%>

    <% end %>

    <% @restaurant.reviews.each do |review| %>
      <p> Review:
      	<%= review.comment %></br>
      	Rating:
      	<%= review.rating %>
      </p>
    <% end %>

    <% if flash[:error] -%>
     <%= flash[:error] %>
    <% end -%>

  </body>

</html>